.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.list input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}

.list .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}